<!DOCTYPE html>
<html ng-app="reto" >
<head>
    <meta charset="UTF-8">

    <title>Prestamo</title>
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet prefetch' href='../css/Report/pikaday.css'>
    <link rel="stylesheet" href="../css/Report/jquery.mobile-1.0.min.css" />

    <link rel="stylesheet" href="../css/Report/normalizeBanner.css">
    <link rel="stylesheet" href="../css/Report/StyleBanner.css">
    <link rel="stylesheet" href="../css/Report/normalize2.css">
    <link rel="stylesheet" href="../css/Report/style2.css">

    <script src="../Scripts/Report/angular.min.js"></script>
    <script src="../Scripts/prefixfreeBanner.min.js"></script>
</head>

<body  ng-controller="ElementoCtrl">

    <header class="header-banner-top">
        <div class="main-navigation" >
            <nav class="horizontal-nav primary-wrapper" role='navigation'>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li class="active-link"><a href="#">Prestamos</a></li>
                    <li><a ng-click="clickSalir()">Salir</a></li>
                </ul>
            </nav>
            <label for="mobile-menu-toggle" class="mobile-menu-label hidden"></label>
        </div>
        <div class="banner">
            <div class="banner-image"></div>
            <div class="primary-wrapper">
                <h1 id="title" class="site-title"><span id="logo"> {{sesion.nick}} <br><br><br><span>Prestamos</span></span></h1>
            </div>
        </div>
    </header>

    <div class="wrapper">
        <form>

        </form>

        <div class="table">
            <div class="row header blue">
                <div class="cell">Devolver</div>
                <div class="cell">Elemento</div>
                <div class="cell">Estado</div>
                <div class="cell">Fecha de inicio</div>
                <div class="cell">Fecha de fin</div>
            </div>
            <div class="row" ng-repeat="elem in elemento">
                <div class="cell"><input type="checkbox" ng-model="checked" ng-change="check(elem._id,checked)"/> </div>
                <div class="cell">{{ elem.nombre }}</div>
                <div class="cell">{{ elem.estado }}</div>
                <div class="cell">{{ elem.FechaInicio }}</div>
                <div class="cell">{{ elem.FechaFin }}</div>
            </div>
        </div>
    </div>

    <script src="../Scripts/Report/Report.js"></script>
    <script src='../Scripts/Report/jquery.min.js'></script>
    <script src='../Scripts/Report/moment.min.js'></script>
    <script src='../Scripts/Report/pikaday.min.js'></script>
    <script src='../Scripts/Report/pikaday.jquery.js'></script>
    <script src='../Scripts/Report/jquery.mobile.min.js'></script>
    <script src="../Scripts/Report/modernizr.js" type="text/javascript"></script>
  
</body>
</html>
